/* CSS Styles */
.input {
    width: 70%;
    margin-bottom: 30px;
  }
  
  .addButton {
    height: 55px;
    margin-bottom: 30px;
  }
  
  .container {
    text-align: center;
  
  }
  
  .list {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    border: 1px solid light-gray;
  }
  
  .text {
    width: 70%;
  }
  
  .listButtons {
    margin-left: 10px;
  }
  